.nav {
  background-color: black;
  margin: 0px;
}

body {
  margin: 0px;
}

.main {
  display: table;
  margin: auto;
  padding-top: 55px;
}

.jumbotron {
  margin: 25px;
  padding-bottom: 25px;
  background-color: #FFFFFF;
  display: inline-block;
}

.cside {
  display: inline-block;
  margin: auto;
  background-color: #FFFFFF;
}

.jumbotron h1 {
  margin: 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.jumbotron h2 {
  margin: 0px;
  font-size: 25px;
  text-align: center;
}

.jumbotron h3 {
  margin: 0px;
  font-size: 20px;
  text-align: center;
}

.jumbotron h4 {
  margin: 0px;
  font-size: 20px;
  text-align: center;
}

.eman {
  display: inline-block;
  margin: auto;
  background-color: #FFFFFF;
}

.info {
  display: table;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 20%;
  margin-left: 20%;
}

.info p {
  text-align: justify;
  font-size: 18px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 25px;
}

.pic1 {
  display: table;
  margin: auto;
  padding-bottom: 30px;
}

.pic1 img {
  display: inline-block;
  margin: 10px;
}

.pic1 p {
  margin: 0px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.pic2 {
  display: table;
  margin: auto;
  padding-bottom: 30px;
}

.pic2 img {
  display: inline-block;
  margin: 10px;
}

.pic2 p {
  margin: 0px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.pic3 {
  display: table;
  margin: auto;
  padding-bottom: 30px;
}

.pic3 img {
  display: inline-block;
  margin: 10px;
}

.pic3 p {
  margin: 0px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.pic4 {
  display: table;
  margin: auto;
  padding-bottom: 30px;
}

.pic4 img {
  display: inline-block;
  margin: 10px;
}

.pic4 p {
  margin: 0px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.pic5 {
  display: table;
  margin: auto;
  padding-bottom: 30px;
}

.pic5 img {
  display: inline-block;
  margin: 10px;
}

.pic5 p {
  margin: 0px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.pic6 {
  display: table;
  margin: auto;
  padding-bottom: 30px;
}

.pic6 vid {
  display: inline-block;
  margin: 10px;
}

.pic6 h1 {
  margin: 0px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.pic6 p {
  margin: 0px;
  text-align: center;
  font-size: 20px;
}

.pic6 p:nth-child(7) {
  margin: 0px;
  padding-bottom: 15px;
  font-size: 16px;
  text-align: center;
}


.pic6 h2 {
  margin: 20px;
}

.cc {
  margin: 0px;
}

.cc p {
  display: inline;
  margin: 0px;
  font-size: 20px;
  color: white;
  text-align: left;
}

h5 {
  margin: 0px;
  font-size: 15px;
  color: white;
  position: relative;
  bottom: 0;
  text-align: right;
}

.twitter {
  margin-right: 0%;
  margin-left: 10%;
  margin-top: 0px;
  margin-bottom: 57px;
  padding-top: 30px;
}

.social div {
  margin: 0px;
  display: inline-block;
}

.social {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.learn-more {
  margin: 0px;
  background-image: url("./media/Capture.JPG");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}